<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%=subject%></title>
  </head>
  <body>
    <main>
      <img src="/images/logo.png" alt="logo" class="main-logo" />
      <h1><%=data.code%></h1>
      <p class="message">
        dear <%=data.user.username%> We have received a request to reset your
        password for your Coffebug account. If you did not make this request,
        please disregard this email. To reset your password, please use the
        following One-Time Password (OTP): <span><%=data.code%></span>. Please
        enter this OTP on the password reset page of our Website/App to complete
        the process. This OTP is only valid for 10 minutes, so please reset your
        password as soon as possible. If you have any questions or concerns,
        please do not hesitate to contact us at coffebug@example.com. Thank you,
      </p>
    </main>
  </body>
</html>
